body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(120deg,#f8c390, #d279ee);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.payment-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.payment-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.payment-form select, .payment-form input[type="text"], .payment-form input[type="password"], .payment-form input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.payment-form .card-details, .payment-form .upi-details {
    display: none;
}

.payment-form input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.payment-form input[type="submit"]:hover {
    background-color: #45a049;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(57, 53, 53);
    color: white;
    padding: 20px;
    border-radius: 8px;
    display: none;
    text-align: center;
}

.popup .tick-animation {
    font-size: 40px; 
    color: #4caf50; 
    animation: zoomIn 0.5s ease forwards;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}