body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #294886;
    color: #fff;
    padding: 16px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo {
    color: black;
    margin-left: 25px;
    font-size: 25px;
}

.log {
    display: flex;
    right: 0;
    margin-right: 20px;
}

.log button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    padding: 9px 25px;
    background-color: #5102a0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.log button:hover {
    background-color: #cc3625;
}

nav {
    background: linear-gradient(120deg, #f8c390, #d279ee);
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.nav_links {
    width: 90%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav_links li {
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.nav_links a {
    text-decoration: none;
    color: #fff;
}

.nav_links a:hover {
    color: #500460;
}

main {
    max-width: 400px;
    margin: 32px auto;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.ticket-container {
    margin-bottom: 16px;
}

.ticket {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 16px;
    position: relative;
}

.visitor-details {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.visitor-details th,
.visitor-details td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.ticket-details div:nth-child(2) {
    margin-bottom: 10px; 
}

.visitor-details th {
    background-color: #f2f2f2;
}

.qr-container {
    text-align: center;
    margin-top: 10px;
}

#qrButton {
    background-color: darkgoldenrod;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s;
}

#qrButton:hover {
    background-color: #119a01;
}

.space-below-total-fare {
    margin-bottom: 5px;
}

footer {
    text-align: center;
    padding: 16px;
    background: linear-gradient(120deg, #f8c390, #d279ee);
    color: #fff;
}
